  .searchbar {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
    width: 200px;
  }
  
  .searchbutton {
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    width: 80px;
  }

  .search-bar-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .dropdown {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }

  .search-dropdown {
    height: 30px;
    width: 180px;
    margin-left: 10px;
  }